#content { 
  width: 100%;
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;    
  }

  .juneBug {
  	position:absolute;
  	top:10%;
  	bottom:0px;
  }

}

#traileringGuide {
    width: 980px;

    /* Font-styles from gmc */
    font-family: Stratum,Arial,sans-serif;
    color: #5d5d5d;
    #top {
        width: 980px;
        height: 340px;
        background-image: url(../img/bg.jpg);
        position: relative;
        .truck {
            position: absolute;
            right: 0;
            bottom: 0;
            &#welcome {
                background-image: url(../img/welcome.png);
                width: 980px;
                height: 340px;
            }
            &#truck1 {
                background-image: url(../img/Canyon_Speedboat.png);
                width: 892px;
                height: 236px;
                bottom: 10px;
            }
            &#truck2 {
                background-image: url(../img/1500_Airstream.png);
                width: 930px;
                height: 278px;
            }
            &#truck3 {
                background-image: url(../img/2500_Sailboat.png);
                width: 945px;
                height: 294px;
            }
            &#truck4 {
                background-image: url(../img/2500_RV.png);
                width: 945px;
                height: 293px;
            }
            &#truck5 {
                background-image: url(../img/3500_HorseTrailer.png);
                width: 951px;
                height: 272px;
            }
        }
        #overlay {
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.5;
        }
    }
    #bottom {
        #nav {
            background-image: url(../img/nav-bg.jpg);
            padding: 22px 10px;
            position: relative;
            #reset {
                font-size: 13px;
            }
            #rightNav {
                position: absolute;
                right: 5px;
                bottom: 22px;
                .rightBtn {
                    outline-style: none;
                    position: relative;
                    width: 82px;
                    .text {
                        font-size: 9px;
                        sup {
                            font-size: 97%;
                        }
                    }
                    .strong {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
                .rightBtn.active,
                .rightBtn:hover {
                    .text {
                        visibility: hidden;
                    }
                }
                .rightBtn.active::after,
                .rightBtn:hover::after {
                    text-transform: uppercase;
                    color: white;
                    display: block;
                    position: absolute;
                    bottom: -3px;
                    font-size: 11px;
                    width: 100%;
                    text-align: center;
                    left: 0;
                    height: 0;
                }
                #button1.active,
                #button1:hover {
                    background-image: url(../img/boat.jpg);
                }
                #button1.active::after,
                #button1:hover::after {
                    content: "7,700 lbs";
                }
                #button2.active,
                #button2:hover {
                    background-image: url(../img/airstream.jpg);
                }
                #button2.active::after,
                #button2:hover::after {
                    content: "12,000 lbs";
                }
                #button3.active,
                #button3:hover {
                    background-image: url(../img/sailboat.jpg);
                }
                #button3.active::after,
                #button3:hover::after {
                    content: "14,500 lbs";
                }
                #button4.active,
                #button4:hover {
                    background-image: url(../img/rv.jpg);
                }
                #button4.active::after,
                #button4:hover::after {
                    content: "17,500 lbs";
                }
                #button5.active,
                #button5:hover {
                    background-image: url(../img/trailer.jpg);
                }
                #button5.active::after,
                #button5:hover::after {
                    content: "22,900 lbs";
                }
            }
        }
        #info {
            color: white;
            height: 134px;
            background-color: #171717;
            padding: 15px 25px;
            .details {
                font-size: 13px;
                line-height: 1.4;
                display: none;
                position: relative;
                .left {
                    position: absolute;
                }
                .right {
                    position: absolute;
                    left: 479px;
                }
            }
            div {
                display: inline-block;
            }
            .header {
                text-transform: uppercase;
                color: white;
                font-weight: bold;
                font-size: 16px;
                display: block;
            }
        }
    }
    .btnGrd {}
    button {
        color: black;
        text-transform: uppercase;
        height: 42px;
        margin: 5px;
        background: rgba(204, 204, 204, 1);
        /* Old Browsers */
        background: -moz-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(188, 188, 188, 1) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204, 204, 204, 1)), color-stop(100%, rgba(188, 188, 188, 1)));
        /* Chrome, Safari4+ */
        background: -webkit-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(188, 188, 188, 1) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(188, 188, 188, 1) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(188, 188, 188, 1) 100%);
        /* IE 10+ */
        background: linear-gradient(to bottom, rgba(204, 204, 204, 1) 0%, rgba(188, 188, 188, 1) 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#575757', GradientType=0);
        /* IE6-9 */
        padding: 5px;
        border: none;
        html.ie9 & {
            filter: none;
        }
    }
    .cnt_btn_1 {
        display: inline-block;
        margin-left: 15px;
        position: relative;
    }
    .btnOverlay {
        height: 100%;
        width: 100%;
        background-color: black;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0.5;
    }
}
