/* 
######### Stratum Family #########
*/
@font-face {
  font-family: 'Stratum';
  src: url("../fonts/StratumGMCWebRegular.eot");
  src: url("../fonts/StratumGMCWebRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/StratumGMCWebRegular.woff") format("woff"), url("../fonts/StratumGMCWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Stratum';
  src: url("../fonts/StratumGMCWebBold.eot");
  src: url("../fonts/StratumGMCWebBold.eot?#iefix") format("embedded-opentype"), url("../fonts/StratumGMCWebBold.woff") format("woff"), url("../fonts/StratumGMCWeb-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Stratum';
  src: url("../fonts/StratumGMCWebMedium.eot");
  src: url("../fonts/StratumGMCWebMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/StratumGMCWebMedium.woff") format("woff"), url("../fonts/StratumGMCWeb-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

#content {
  width: 100%;
  height: 100%; }
  #content iframe {
    width: 100%;
    height: 100%; }
  #content .juneBug {
    position: absolute;
    top: 10%;
    bottom: 0px; }

#traileringGuide {
  width: 980px;
  /* Font-styles from gmc */
  font-family: Stratum,Arial,sans-serif;
  color: #5d5d5d; }
  #traileringGuide #top {
    width: 980px;
    height: 340px;
    background-image: url(../img/bg.jpg);
    position: relative; }
    #traileringGuide #top .truck {
      display: none;
      position: absolute;
      right: 0;
      bottom: 0; }
      #traileringGuide #top .truck#welcome {
        background-image: url(../img/welcome.png);
        width: 980px;
        height: 340px; }
      #traileringGuide #top .truck#truck1 {
        background-image: url(../img/Canyon_Speedboat.png);
        width: 892px;
        height: 236px;
        bottom: 10px; }
      #traileringGuide #top .truck#truck2 {
        background-image: url(../img/1500_Airstream.png);
        width: 930px;
        height: 278px; }
      #traileringGuide #top .truck#truck3 {
        background-image: url(../img/2500_Sailboat.png);
        width: 945px;
        height: 294px; }
      #traileringGuide #top .truck#truck4 {
        background-image: url(../img/2500_RV.png);
        width: 945px;
        height: 293px; }
      #traileringGuide #top .truck#truck5 {
        background-image: url(../img/3500_HorseTrailer.png);
        width: 951px;
        height: 272px; }
    #traileringGuide #top #overlay {
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5; }
  #traileringGuide #bottom #nav {
    background-image: url(../img/nav-bg.jpg);
    padding: 22px 10px;
    position: relative; }
    #traileringGuide #bottom #nav #reset {
      font-size: 13px; }
    #traileringGuide #bottom #nav #rightNav {
      position: absolute;
      right: 5px;
      bottom: 22px; }
      #traileringGuide #bottom #nav #rightNav .rightBtn {
        outline-style: none;
        position: relative;
        width: 82px; }
        #traileringGuide #bottom #nav #rightNav .rightBtn .text {
          font-size: 9px; }
          #traileringGuide #bottom #nav #rightNav .rightBtn .text sup {
            font-size: 97%; }
        #traileringGuide #bottom #nav #rightNav .rightBtn .strong {
          font-size: 12px;
          font-weight: bold; }
      #traileringGuide #bottom #nav #rightNav .rightBtn.active .text,
      #traileringGuide #bottom #nav #rightNav .rightBtn:hover .text {
        visibility: hidden; }
      #traileringGuide #bottom #nav #rightNav .rightBtn.active::after,
      #traileringGuide #bottom #nav #rightNav .rightBtn:hover::after {
        text-transform: uppercase;
        color: white;
        display: block;
        position: absolute;
        bottom: -3px;
        font-size: 11px;
        width: 100%;
        text-align: center;
        left: 0;
        height: 0; }
      #traileringGuide #bottom #nav #rightNav #button1.active,
      #traileringGuide #bottom #nav #rightNav #button1:hover {
        background-image: url(../img/boat.jpg); }
      #traileringGuide #bottom #nav #rightNav #button1.active::after,
      #traileringGuide #bottom #nav #rightNav #button1:hover::after {
        content: "7,700 lbs"; }
      #traileringGuide #bottom #nav #rightNav #button2.active,
      #traileringGuide #bottom #nav #rightNav #button2:hover {
        background-image: url(../img/airstream.jpg); }
      #traileringGuide #bottom #nav #rightNav #button2.active::after,
      #traileringGuide #bottom #nav #rightNav #button2:hover::after {
        content: "12,000 lbs"; }
      #traileringGuide #bottom #nav #rightNav #button3.active,
      #traileringGuide #bottom #nav #rightNav #button3:hover {
        background-image: url(../img/sailboat.jpg); }
      #traileringGuide #bottom #nav #rightNav #button3.active::after,
      #traileringGuide #bottom #nav #rightNav #button3:hover::after {
        content: "14,500 lbs"; }
      #traileringGuide #bottom #nav #rightNav #button4.active,
      #traileringGuide #bottom #nav #rightNav #button4:hover {
        background-image: url(../img/rv.jpg); }
      #traileringGuide #bottom #nav #rightNav #button4.active::after,
      #traileringGuide #bottom #nav #rightNav #button4:hover::after {
        content: "17,500 lbs"; }
      #traileringGuide #bottom #nav #rightNav #button5.active,
      #traileringGuide #bottom #nav #rightNav #button5:hover {
        background-image: url(../img/trailer.jpg); }
      #traileringGuide #bottom #nav #rightNav #button5.active::after,
      #traileringGuide #bottom #nav #rightNav #button5:hover::after {
        content: "22,900 lbs"; }
  #traileringGuide #bottom #info {
    color: white;
    height: 134px;
    background-color: #171717;
    padding: 15px 25px; }
    #traileringGuide #bottom #info .details {
      font-size: 13px;
      line-height: 1.4;
      display: none;
      position: relative; }
      #traileringGuide #bottom #info .details .left {
        position: absolute; }
      #traileringGuide #bottom #info .details .right {
        position: absolute;
        left: 479px; }
    #traileringGuide #bottom #info div {
      display: inline-block; }
    #traileringGuide #bottom #info .header {
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      font-size: 16px;
      display: block; }
  #traileringGuide button {
    color: black;
    text-transform: uppercase;
    height: 42px;
    margin: 5px;
    background: #cccccc;
    /* Old Browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #bcbcbc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #bcbcbc));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #cccccc 0%, #bcbcbc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cccccc 0%, #bcbcbc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc 0%, #bcbcbc 100%);
    /* IE 10+ */
    background: linear-gradient(to bottom, #cccccc 0%, #bcbcbc 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#575757', GradientType=0);
    /* IE6-9 */
    padding: 5px;
    border: none; }
    html.ie9 #traileringGuide button {
      filter: none; }
  #traileringGuide .cnt_btn_1 {
    display: inline-block;
    margin-left: 15px;
    position: relative; }
  #traileringGuide .btnOverlay {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5; }

#traileringGuide {
  /*h1 {
    font-weight: normal;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    span { 
      font-size: 13px;
      display: block;
      padding-left: 4px;
    }
  }
  p {
    margin-top: 200px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      color: #fff;
      padding: 5px 10px;
      margin: 0 5px;
      //background-color: darken($select-background, 2);
      //@include transition(all 0.2s ease-in);
      //&:hover {
      //  background-color: darken($select-background, 5);
      //}
    }
  }*/ }
  #traileringGuide .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px; }
  #traileringGuide .select {
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 18px;
    margin-top: -16px;
    font-size: 14px;
    color: #000;
    width: 386px;
    height: 42px; }
  #traileringGuide .select-styled {
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #cccccc;
    /* Old Browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #bcbcbc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #bcbcbc));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #cccccc 0%, #bcbcbc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cccccc 0%, #bcbcbc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc 0%, #bcbcbc 100%);
    /* IE 10+ */
    background: linear-gradient(to bottom, #cccccc 0%, #bcbcbc 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#575757', GradientType=0);
    /* IE6-9 */
    padding: 12px 15px; }
    html.ie9 #traileringGuide .select-styled {
      filter: none; }
    #traileringGuide .select-styled:after {
      content: url(../img/chev.png);
      position: absolute;
      top: 15px;
      right: 15px; }
    #traileringGuide .select-styled:active:after, #traileringGuide .select-styled.active:after {
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Chrome, Safari, Opera */
      transform: rotate(90deg); }
  #traileringGuide .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: .7;
    color: #fff;
    background: #999999;
    /* Old Browsers */
    background: -moz-linear-gradient(top, #999999 0%, #666666 100%);
    /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #999999), color-stop(100%, #666666));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #999999 0%, #666666 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #999999 0%, #666666 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #999999 0%, #666666 100%);
    /* IE 10+ */
    background: linear-gradient(to bottom, #999999 0%, #666666 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#575757', GradientType=0);
    /* IE6-9 */ }
    #traileringGuide .select-options li {
      margin: 0;
      padding: 12px 0;
      text-indent: 15px; }
      #traileringGuide .select-options li[rel="hide"] {
        display: none; }
      #traileringGuide .select-options li.hide {
        display: none; }
