<!DOCTYPE html>
<html>
	<head>
		<!-- build:remove -->
		<!-- REMOVE BELOW BEFORE DELIVERY. THESE ARE FOR REFERNCE AND DEVELOPMENT ONLY AND ARE INCLUDED IN THE HEAD OF EVERY PAGE AUTOMATICALLY  -->		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>	
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
		<link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/t_13.css"/>
		<link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/additional/chevrolet2013/css/zipcodepopup.css"/>
		<!--[if IE 8]>
			<link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main-ie8.css" />
			<![endif]-->
		<!--[if IE 7]>
			<link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main-ie7.css" />
			<![endif]-->		
		<!--[if IE 6]>
			<link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main-ie6.css" />
		<![endif]-->	
		<script src="http://www.chevrolet.com/static/global/js/cookiemethods.js" type="text/javascript"></script>
		<script src="http://www.chevrolet.com/static/cms/chevrolet2013/js/head.js" type="text/javascript"></script>
		<!-- END REMOVE BEFORE DELIVERY -->
		<!-- /build -->
		<!-- Include all necessary css and scripts with relative paths here.  The html/head/body tags will be reformatted and stripped automatically.  -->
		<!-- build:[href] components/spark-colorizer/css/sparkColorizer.min.css-->
		<link rel="stylesheet" href="./css/sparkColorizer.css" type="text/css" media="screen" />
		<!-- /build -->
		<!-- build:[src] components/spark-colorizer/js/sparkColorizer.min.js-->
		<script src="./js/sparkColorizer.js"></script>
		<!-- /build -->
		<!-- END Include all necessary css and scripts with relative paths here. -->
		
	</head>
	<body>
		<div id="sparkColorizer">
			<!-- put all necessary HTML here.  Always use relative paths to images/js/css referenced in this component. Be sure to change the id of this div -->
			<div id="chevrolet-spark"></div>
			<div id="nav">
				<div class="nav-item active" id="lime">
					<div class="nav-button"></div>
					<div class="nav-tag"></div>
				</div>
				<div class="nav-item" id="black-granite">
					<div class="nav-button"></div>
					<div class="nav-tag"></div>
				</div>
				<div class="nav-item" id="toasted-marshmallow">
					<div class="nav-button"></div>
					<div class="nav-tag"></div>
				</div>
				<div class="nav-item" id="electric-blue">
					<div class="nav-button"></div>
					<div class="nav-tag"></div>
				</div>
				<div class="nav-item" id="kalamata">
					<div class="nav-button"></div>
					<div class="nav-tag"></div>
				</div>
				<div class="nav-item" id="summit-white">
					<div class="nav-button"></div>
					<div class="nav-tag"></div>
				</div>
				<div class="nav-item" id="splash">
					<div class="nav-button"></div>
					<div class="nav-tag"></div>
				</div>
				<div class="nav-item" id="silver-ice">
					<div class="nav-button"></div>
					<div class="nav-tag"></div>
				</div>
				<div class="nav-item" id="titanium">
					<div class="nav-button"></div>
					<div class="nav-tag"></div>
				</div>
				<div class="nav-item" id="salsa">
					<div class="nav-button"></div>
					<div class="nav-tag"></div>
				</div>
			</div>
		</div>
	</body>
</html>