.overlay {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $off-black;
    opacity: .8;
    transition: all ease 0.5s;
    &.ng-hide {
        opacity: 0;
    }
}

.modal-container {
    z-index: 8;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all ease 0.5s;
    &.modal-hide {
        z-index: -1;
        opacity: 0;
    }
    .modal-custom {
        position: fixed;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        .modal-custom-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all ease 0.75s;
            &.modal-hide {
                top: 100%;
                transform: translate(-50%, 0);
            }
            .close-icon {
                z-index: 999;
                position: absolute;
                right: 5;
                top: 5;
                border-radius: 50%;
                color: $white;
                background: $primary-color;
                cursor: pointer;
                font-size: 30px;
            }
        }
    }
}