.portfolio {
    .carousel-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.next {
            right: -65px;
        }
        &.prev {
            left: -65px;
        }
        i {
            font-size: 2.4rem;
        }
    }
    .slick-slide {
        height: auto;
    }
    .portfolio {
        .slick-list {
            margin-top: -10px;
        }
    }
}