.portfolio {
    .carousel-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.next {
            right: -65px;
        }
        &.prev {
            left: -65px;
        }
        i {
            font-size: 2.4rem;
        }
    }
    .slick-slide {
        height: auto;
        outline: none;
    }
    .slick-list {
        @media #{$medium-and-up} {
            overflow: hidden;
        }
        a {
            display: block;
        }
        overflow: visible;
        margin-top: -10px;
    }
    .card {
        display: block;
        .card-title {
            line-height: 100%;
            color: initial;
        }
    }
}