<!DOCTYPE html>
<html>

<head>
    <!-- build:remove -->
    <!-- REMOVE BELOW BEFORE DELIVERY. THESE ARE FOR REFERNCE AND DEVELOPMENT ONLY AND ARE INCLUDED IN THE HEAD OF EVERY PAGE AUTOMATICALLY  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main.css" />
    <link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/t_13.css" />
    <link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/additional/chevrolet2013/css/zipcodepopup.css" />
    <!--[if IE 8]>
            <link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main-ie8.css" />
            <![endif]-->
    <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main-ie7.css" />
            <![endif]-->
    <!--[if IE 6]>
            <link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main-ie6.css" />
        <![endif]-->
    <script src="http://www.chevrolet.com/static/global/js/cookiemethods.js" type="text/javascript"></script>
    <script src="http://www.chevrolet.com/static/cms/chevrolet2013/js/head.js" type="text/javascript"></script>
    <!-- END REMOVE BEFORE DELIVERY -->
    <!-- /build -->
    <!-- Include all necessary css and scripts with relative paths here.  The html/head/body tags will be reformatted and stripped automatically.  -->
    <!-- build:[href] components/trailering-guide/css/main.css -->
    <link rel="stylesheet" href="./css/trailering-guide.css" type="text/css" media="screen" />
    <!-- /build -->
    <!-- build:[src] components/trailering-guide/js/trailering-guide.js -->
    <script src="./js/trailering-guide.js"></script>
    <!-- /build -->
    <!-- END Include all necessary css and scripts with relative paths here. -->
</head>

<body>
    <div id="traileringGuide">
        <!-- put all necessary HTML here.  Always use relative paths to images/js/css referenced in this component. Be sure to change the id of this div -->
        <div id="top">
            <div id="overlay"></div>
            <div id="welcome" class="truck"></div>
            <div id="truck1" class="truck"></div>
            <div id="truck2" class="truck"></div>
            <div id="truck3" class="truck"></div>
            <div id="truck4" class="truck"></div>
            <div id="truck5" class="truck"></div>
        </div>
        <div id="bottom">
            <div id="nav">
                <div id="truckSelect" class="select">
                    <div class="select-styled">Select a Vehicle</div>
                    <ul class="select-options">
                        <li rel="hide">Select a Vehicle</li>
                        <li rel="Canyon">Canyon</li>
                        <li rel="Sierra 1500">Sierra 1500</li>
                        <li rel="Sierra 2500HD">Sierra 2500HD</li>
                        <li rel="Sierra 3500HD">Sierra 3500HD Single Rear Wheel</li>
                        <li rel="Sierra 3500 Denali HD">Sierra 3500 Denali HD Dual Rear Wheel</li>
                    </ul>
                </div>
                <button id="reset">Reset</button>
                <div id="rightNav">
                    <div class="btnGrd"></div>
                    <button id="button1" rel="0" class="rightBtn"><span class="text"><span class="strong">7,700</span> 
                        lbs<sup>2</sup></span>
                    </button>
                    <button id="button2" rel="1" class="rightBtn"><span class="text"><span class="strong">12,000</span> 
                        lbs<sup>3</sup></span>
                    </button>
                    <button id="button3" rel="2" class="rightBtn"><span class="text"><span class="strong">14,500</span> 
                        lbs<sup>4</sup></span>
                    </button>
                    <button id="button4" rel="3" class="rightBtn"><span class="text"><span class="strong">17,500 </span> 
                        lbs<sup>5</sup></span>
                    </button>
                    <button id="button5" rel="4" class="rightBtn"><span class="text"><span class="strong">22,900</span> 
                        lbs<sup>6</sup></span>
                    </button>
                </div>
            </div>
            <div id="info">
                <div id="info1" class="details">
                    <div class="left">
                        <span class="header">Max Payload Range:</span> 1,380 to 1,620 lbs.
                        <span class="header">Max Trailering Range:</span> 3,500 to 7,700 lbs.
                    </div>
                    <div class="right">
                        <span class="header">Example cargo:</span> Camper, Toy Hauler, Snowmobile Trailer
                        <span class="header">Recommended Accessories:</span> Assist Steps, Floor liners, GearOn Bar Package, Tonneau cover
                    </div>
                </div>
                <div id="info2" class="details">
                    <div class="left">
                        <span class="header">Max Payload Range:</span> 1,650 to 2,400 lbs.
                        <span class="header">Max Trailering Range:</span> 4,600 to 12,000 lbs.
                    </div>
                    <div class="right">
                        <span class="header">Example cargo:</span> Two Polaris RZR ORVS, Four Harley Motorcycles, Boston Whaler
                        <span class="header">Recommended Accessories:</span> 6" square chrome assist steps, hard folding trifold tonneau cover, spray-on bedliner, 20” polished aluminum wheels.
                    </div>
                </div>
                <div id="info3" class="details">
                    <div class="left">
                        <span class="header">Max Payload Range:</span> 2,423 to 4,043 lbs.
                        <span class="header">Max Trailering Range:</span> 9,400 to 18,000 lbs.
                    </div>
                    <div class="right">
                        <span class="header">Example cargo:</span> Non-fifth Wheel Horse Trailer, Large John Deere Tractor
                        <span class="header">Recommended Accessories:</span> 6" square chrome assist steps, hard folding trifold tonneau cover
                    </div>
                </div>
                <div id="info4" class="details">
                    <div class="left">
                        <span class="header">Max Payload Range:</span> 3,914 to 4,390 lbs.
                        <span class="header">Max Trailering Range:</span> 9,200 to 17,500 lbs.
                    </div>
                    <div class="right">
                        <span class="header">Example cargo:</span> Large Sea Ray SunDancer
                        <span class="header">Recommended Accessories:</span> 6" square chrome assist steps, hard folding trifold tonneau cover
                    </div>
                </div>
                <div id="info5" class="details">
                    <div class="left">
                        <span class="header">Max Payload Range:</span> 5,002 to 7,153 lbs
                        <span class="header">Max Trailering Range:</span> 8,900 to 22,900 lbs.
                    </div>
                    <div class="right">
                        <span class="header">Example Cargo:</span> Fifth Wheel Camper Trailer (large DRV) 
                        <span class="header">Recommended Accessories:</span> 6" square chrome assist steps, trailering camera system, Gooseneck/5th Wheel Prep Package and accessory Hitch Package.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- build:remove -->
    <!-- Grunt script for live reload -->
    <!--<script src="http://localhost:35729/livereload.js"></script>-->
    <!-- /build -->
</body>

</html>