// COLORS
$black: #000;
$dark-grey: #414042;
$medium-grey: #808285;
$light-grey: #dedede; 
$off-white: #efefef;
$yellow: #f4bc00;
$blue: #0a3e99;
$white: #fff;

// TEXT COLORS
$text-black: $black;
$text-grey: $dark-grey;
$text-yellow: $yellow;
$text-blue: $blue;
$text-darkblue: #0c1435;
$text-white: $white;
$text-medium-grey: $medium-grey;
$text-header-grey: #acacac;

// FONTS
$font-stack: Arial, Helvetica,  sans-serif;
$font-louis-regular: 'LouisRegular', Arial, sans-serif;
$font-louis-italic: 'LouisItalic', Arial, sans-serif;
$font-louis-bold: 'LouisBold', Arial, sans-serif;
$font-louis-bold-italic: 'LouisBoldItalic', Arial, sans-serif;
$font-louis-condensed: 'LouisCondensed', Arial, sans-serif;

// BREAKPOINTS
$breakpoint_xxsmall: 0;
$breakpoint_xsmall: 320px;
$breakpoint_small: 480px;
$breakpoint_medium: 720px;
$breakpoint_large: 960px;
$breakpoint_xlarge: 1280px;
$breakpoint_xxlarge: 1600px;
$breakpoint_xxxlarge: 1920px;