/* 
######### Stratum Family #########
*/
@font-face {
  font-family: 'Stratum';
  src: url("../fonts/StratumGMCWebRegular.eot");
  src: url("../fonts/StratumGMCWebRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/StratumGMCWebRegular.woff") format("woff"), url("../fonts/StratumGMCWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stratum';
  src: url("../fonts/StratumGMCWebBold.eot");
  src: url("../fonts/StratumGMCWebBold.eot?#iefix") format("embedded-opentype"), url("../fonts/StratumGMCWebBold.woff") format("woff"), url("../fonts/StratumGMCWeb-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*@font-face {
    font-family: 'Stratum';
    src: url('../fonts/StratumGMCWebMedium.eot');
    src: url('../fonts/StratumGMCWebMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/StratumGMCWebMedium.woff') format('woff'), url('../fonts/StratumGMCWeb-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal
}*/
/* line 1, ../sass/partials/_component.scss */
#content {
  width: 100%;
  height: 100%;
}
/* line 5, ../sass/partials/_component.scss */
#content iframe {
  width: 100%;
  height: 100%;
}
/* line 10, ../sass/partials/_component.scss */
#content .juneBug {
  position: absolute;
  top: 10%;
  bottom: 0px;
}

/* line 17, ../sass/partials/_component.scss */
#spacer {
  height: 100vh;
}

/* line 21, ../sass/partials/_component.scss */
#video-colorizer {
  width: 980px;
  height: 650px;
  position: relative;
  overflow: hidden;
  background-color: white;
  /* Font-styles from gmc */
  font-family: Stratum,Arial,sans-serif;
  color: #5d5d5d;
}
/* line 32, ../sass/partials/_component.scss */
#video-colorizer .mmScrollBtn {
  z-index: 100;
  height: 50px;
  width: 28px;
  background: url(../img/icon_sprite.png) no-repeat center 0;
  display: block;
  position: absolute;
}
/* line 39, ../sass/partials/_component.scss */
#video-colorizer .mmScrollBtn.next {
  right: 5px;
  background-position: -171px -5291px;
}
/* line 42, ../sass/partials/_component.scss */
#video-colorizer .mmScrollBtn.next:hover {
  background-position: -171px -5380px;
}
/* line 46, ../sass/partials/_component.scss */
#video-colorizer .mmScrollBtn.prev {
  left: 5px;
  background-position: 0 -5291px;
}
/* line 49, ../sass/partials/_component.scss */
#video-colorizer .mmScrollBtn.prev:hover {
  background-position: 0 -5380px;
}
/* line 56, ../sass/partials/_component.scss */
#video-colorizer .arrow-style-1 .mmScrollBtn.next {
  background-position: -171px -5043px;
}
/* line 58, ../sass/partials/_component.scss */
#video-colorizer .arrow-style-1 .mmScrollBtn.next:hover {
  background-position: -171px -5466px;
}
/* line 63, ../sass/partials/_component.scss */
#video-colorizer .arrow-style-1 .mmScrollBtn.prev {
  background-position: 0 -5043px;
}
/* line 65, ../sass/partials/_component.scss */
#video-colorizer .arrow-style-1 .mmScrollBtn.prev:hover {
  background-position: 0 -5466px;
}
/* line 71, ../sass/partials/_component.scss */
#video-colorizer button {
  background: 0;
  border: 0;
  padding: 0;
}
/* line 76, ../sass/partials/_component.scss */
#video-colorizer .video-container {
  height: calc(100% - 150px);
  padding-bottom: initial;
  width: 100%;
  position: relative;
  transition: opacity .5s;
  overflow: hidden;
}
/* line 83, ../sass/partials/_component.scss */
#video-colorizer .video-container .video_player {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity .5s;
  opacity: 0;
}
/* line 90, ../sass/partials/_component.scss */
#video-colorizer .video-container .video_player.active {
  opacity: 1;
}
/* line 96, ../sass/partials/_component.scss */
#video-colorizer .dragable {
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: url("../img/drag.png"), move;
}
/* line 101, ../sass/partials/_component.scss */
#video-colorizer .dragable.is-pointer-down {
  cursor: url("../img/drag-down.png"), move;
}
/* line 107, ../sass/partials/_component.scss */
#video-colorizer .nav {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  padding: 75px 48px 25px;
  z-index: 2;
}
/* line 116, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors, #video-colorizer .nav .int-colors {
  display: inline-block;
  position: absolute;
  padding: 0 63px;
  font-size: 0;
}
/* line 122, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper, #video-colorizer .nav .int-colors .color-wrapper {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}
/* line 126, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .active + .tool-tip, #video-colorizer .nav .int-colors .color-wrapper .active + .tool-tip {
  display: block;
}
/* line 130, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper:hover .tool-tip, #video-colorizer .nav .int-colors .color-wrapper:hover .tool-tip {
  display: block;
  z-index: 1;
}
/* line 135, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .tool-tip, #video-colorizer .nav .int-colors .color-wrapper .tool-tip {
  text-transform: uppercase;
  color: #6f6f6f;
  display: none;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  width: 100%;
  text-align: center;
  background-color: white;
}
/* line 148, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip, #video-colorizer .nav .int-colors .color-wrapper .color-chip {
  height: 46px;
  width: 46px;
  margin: 0 3px;
  background-color: transparent;
  position: relative;
}
/* line 155, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip:hover .tool-tip, #video-colorizer .nav .int-colors .color-wrapper .color-chip:hover .tool-tip {
  display: inline-block;
}
/* line 159, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip .tool-tip, #video-colorizer .nav .int-colors .color-wrapper .color-chip .tool-tip {
  display: none;
  position: absolute;
  top: -45px;
  right: 50%;
  transform: translateX(50%);
  font-size: 20px;
}
/* line 168, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip.active:after, #video-colorizer .nav .int-colors .color-wrapper .color-chip.active:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 12px;
  background-image: url(../img/check.png);
}
/* line 178, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip#ext-chip-0, #video-colorizer .nav .int-colors .color-wrapper .color-chip#ext-chip-0 {
  background-image: url(../img/chip-0.png);
}
/* line 181, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip#ext-chip-1, #video-colorizer .nav .int-colors .color-wrapper .color-chip#ext-chip-1 {
  background-image: url(../img/chip-1.png);
}
/* line 184, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip#ext-chip-2, #video-colorizer .nav .int-colors .color-wrapper .color-chip#ext-chip-2 {
  background-image: url(../img/chip-2.png);
}
/* line 187, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip#ext-chip-3, #video-colorizer .nav .int-colors .color-wrapper .color-chip#ext-chip-3 {
  background-image: url(../img/chip-3.png);
}
/* line 190, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip#ext-chip-4, #video-colorizer .nav .int-colors .color-wrapper .color-chip#ext-chip-4 {
  background-image: url(../img/chip-4.png);
}
/* line 193, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip#ext-chip-5, #video-colorizer .nav .int-colors .color-wrapper .color-chip#ext-chip-5 {
  background-image: url(../img/chip-5.png);
}
/* line 196, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip#ext-chip-6, #video-colorizer .nav .int-colors .color-wrapper .color-chip#ext-chip-6 {
  background-image: url(../img/chip-6.png);
}
/* line 199, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip#ext-chip-7, #video-colorizer .nav .int-colors .color-wrapper .color-chip#ext-chip-7 {
  background-image: url(../img/chip-7.png);
}
/* line 203, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip#int-chip-0, #video-colorizer .nav .int-colors .color-wrapper .color-chip#int-chip-0 {
  background-image: url(../img/int-chip-0.png);
}
/* line 206, ../sass/partials/_component.scss */
#video-colorizer .nav .ext-colors .color-wrapper .color-chip#int-chip-1, #video-colorizer .nav .int-colors .color-wrapper .color-chip#int-chip-1 {
  background-image: url(../img/int-chip-1.png);
}
/* line 213, ../sass/partials/_component.scss */
#video-colorizer .nav .int-colors {
  padding: 0 165px;
}
/* line 217, ../sass/partials/_component.scss */
#video-colorizer .nav .toggle, #video-colorizer .nav .toggle-trim {
  display: inline-block;
  padding: 10.5px 0;
}
/* line 220, ../sass/partials/_component.scss */
#video-colorizer .nav .toggle button, #video-colorizer .nav .toggle span, #video-colorizer .nav .toggle-trim button, #video-colorizer .nav .toggle-trim span {
  font-weight: bold;
  font-size: 21px;
}
/* line 224, ../sass/partials/_component.scss */
#video-colorizer .nav .toggle .divider, #video-colorizer .nav .toggle-trim .divider {
  background-color: initial;
  padding-left: 10px;
  margin-right: 10px;
  height: 24px;
  border-right: 1px #d4d4d4 solid;
  display: inline-block;
  position: relative;
  bottom: -5px;
}
/* line 235, ../sass/partials/_component.scss */
#video-colorizer .nav .toggle-trim {
  position: absolute;
  right: 48px;
}
/* line 243, ../sass/partials/_component.scss */
#video-colorizer .mmScrollBtn {
  top: 50%;
  cursor: pointer;
}
/* line 248, ../sass/partials/_component.scss */
#video-colorizer .colors, #video-colorizer .arrow, #video-colorizer .nav, #video-colorizer .mmScrollBtn {
  transition: opacity .5s;
}
/* line 254, ../sass/partials/_component.scss */
#video-colorizer button:focus {
  outline: none;
}
/* line 258, ../sass/partials/_component.scss */
#video-colorizer .carousel-container {
  transition: opacity .5s;
  position: relative;
  top: -75%;
}
/* line 262, ../sass/partials/_component.scss */
#video-colorizer .carousel-container .carousel-custom {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  transition: opacity .5s;
  padding-top: 70px;
  opacity: 0;
}
/* line 270, ../sass/partials/_component.scss */
#video-colorizer .carousel-container .carousel-custom.active {
  opacity: 1;
  z-index: 1;
}
/* line 274, ../sass/partials/_component.scss */
#video-colorizer .carousel-container .carousel-custom .carousel-img {
  width: 100%;
}
/* line 278, ../sass/partials/_component.scss */
#video-colorizer .carousel-container .mmScrollBtn {
  transform: translateY(-3px);
}
/* line 283, ../sass/partials/_component.scss */
#video-colorizer .hide-custom {
  opacity: 0;
  z-index: -1;
}
/* line 288, ../sass/partials/_component.scss */
#video-colorizer .interior, #video-colorizer .exterior {
  transition: color .5s;
  color: #7B7B7B;
  border-bottom: 3px solid transparent;
}
/* line 292, ../sass/partials/_component.scss */
#video-colorizer .interior.active, #video-colorizer .exterior.active {
  color: #bc2939;
}
/* line 295, ../sass/partials/_component.scss */
#video-colorizer .interior:hover, #video-colorizer .exterior:hover {
  border-bottom: 3px solid #a5071e;
}
/* line 298, ../sass/partials/_component.scss */
#video-colorizer .interior.active:hover, #video-colorizer .exterior.active:hover {
  border-bottom: 3px solid transparent;
}

/*# sourceMappingURL=video-colorizer.css.map */
