<!DOCTYPE html>
<html>

<head>
    <!-- build:remove -->
    <!-- REMOVE BELOW BEFORE DELIVERY. THESE ARE FOR REFERNCE AND DEVELOPMENT ONLY AND ARE INCLUDED IN THE HEAD OF EVERY PAGE AUTOMATICALLY  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main.css" />
    <link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/t_13.css" />
    <!--[if IE 8]>
			<link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main-ie8.css" />
			<![endif]-->
    <!--[if IE 7]>
			<link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main-ie7.css" />
			<![endif]-->
    <!--[if IE 6]>
			<link rel="stylesheet" type="text/css" href="http://www.chevrolet.com/static/cms/chevrolet2013/css/main-ie6.css" />
		<![endif]-->
    <script src="http://www.chevrolet.com/static/cms/chevrolet2013/js/head.js" type="text/javascript"></script>
    <!-- END REMOVE BEFORE DELIVERY -->
    <!-- /build -->
    
    <!-- Include all necessary css and scripts with relative paths here.  The html/head/body tags will be reformatted and stripped automatically.  -->
    <!-- build:[src] components/acadia-reveal-exterior/js/dragdealer.min.js -->
    <script src="js/dragdealer.min.js"></script> 
    <!-- /build -->
    <!-- build:[src] components/acadia-reveal-exterior/js/terrain-exterior.min.js -->
    <script src="js/terrain-exterior.js"></script>
    <!-- /build -->
    <!-- build:[href] components/acadia-reveal-exterior/css/terrain-exterior.min.css -->
    <link rel="stylesheet" href="./css/terrain-exterior.css" type="text/css" media="screen" />
    <!-- /build -->
    <!-- END Include all necessary css and scripts with relative paths here. -->
</head>

<body>
    <div id="terrain-exterior-clipped">
        <div id="slide1" class="slide ext-slide"></div>
        <div id="slide2" class="slide ext-slide"></div>
        <div id="slide3" class="slide ext-slide"></div>
        <div id="slider-handle1" class="dragdealer slider-handle">
            <div class="handle">
            </div>
        </div>
        <div id="slider-handle2" class="dragdealer slider-handle">
            <div class="handle">
            </div>
        </div>
        <div class="nav" id="nav1">
            <span>SLT</span>
        </div>
        <div class="nav active" id="nav2">
            <span>DENALI</span>
        </div>
        <div class="nav" id="nav3">
            <span>ALL-TERRAIN</span>
        </div>
    </div>
    <!-- build:remove -->
    <!-- Grunt script for live reload -->
    <!--<script src="http://localhost:35729/livereload.js"></script>-->
    <!-- /build -->
</body>

</html>