#content {
  width: 100%;
  height: 100%; }
  #content iframe {
    width: 100%;
    height: 100%; }
  #content .juneBug {
    position: absolute;
    top: 10%;
    bottom: 0px; }

#acadia-traction {
  position: relative;
  width: 980px;
  height: 552px;
  /* Font-styles from gmc */
  font-family: Stratum,Arial,sans-serif;
  color: #5d5d5d; }
  #acadia-traction .interactive {
    height: 100%;
    width: 100%; }
  #acadia-traction video {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #000; }
    #acadia-traction video.at-hide {
      display: none; }
  #acadia-traction .still_image {
    height: 100%;
    width: 100%;
    background-image: url(../img/still_image.jpg);
    display: none; }
  #acadia-traction .overlay {
    opacity: 1;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 185px;
    background-position: center;
    background-image: url(../img/dial-normal-b.png);
    background-color: #000;
    padding: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    box-sizing: content-box;
    /*&.hide {
            opacity: 0;
            z-index: -1;
        }*/ }
  #acadia-traction .background {
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1; }
  #acadia-traction .preloader {
    width: 980px;
    height: 550px;
    position: absolute;
    top: 0;
    z-index: -2; }
    #acadia-traction .preloader.normal {
      background-image: url(../img/dial-normal.png); }
    #acadia-traction .preloader.four {
      background-image: url(../img/dial-4x4.png); }
    #acadia-traction .preloader.sport {
      background-image: url(../img/dial-sport.png); }
    #acadia-traction .preloader.snow {
      background-image: url(../img/dial-snow.png); }
    #acadia-traction .preloader.towing {
      background-image: url(../img/dial-towing.png); }
    #acadia-traction .preloader.normal-b {
      background-image: url(../img/dial-normal-b.png); }
    #acadia-traction .preloader.four-b {
      background-image: url(../img/dial-4x4-b.png); }
    #acadia-traction .preloader.sport-b {
      background-image: url(../img/dial-sport-b.png); }
    #acadia-traction .preloader.snow-b {
      background-image: url(../img/dial-snow-b.png); }
    #acadia-traction .preloader.towing-b {
      background-image: url(../img/dial-towing-b.png); }
  #acadia-traction .nav-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 51px 0 10px;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.47), transparent);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.47), transparent); }
    #acadia-traction .nav-wrapper .nav-inner {
      padding: 0 60px;
      /* line 17, ../sass/partials/_terrain-exterior.scss */ }
      #acadia-traction .nav-wrapper .nav-inner .nav {
        padding: 0 35px;
        display: inline-block;
        color: rgba(255, 255, 255, 0.502);
        font-size: 11.725px;
        z-index: 1;
        cursor: pointer; }
        #acadia-traction .nav-wrapper .nav-inner .nav:first-child {
          padding-left: 0; }
        #acadia-traction .nav-wrapper .nav-inner .nav:last-child {
          padding-right: 0; }
        #acadia-traction .nav-wrapper .nav-inner .nav span {
          transition: all .5s;
          padding: 1px;
          border-bottom: 2px solid transparent; }
      #acadia-traction .nav-wrapper .nav-inner .nav:hover span,
      #acadia-traction .nav-wrapper .nav-inner .nav.active span {
        color: white;
        border-bottom: 2px solid red; }
  #acadia-traction button {
    font-size: 24px;
    background-color: red;
    color: white;
    padding: 10px; }
    #acadia-traction button.disabled {
      background-color: gray; }
