/* 
######### Stratum Family #########
*/

@font-face {
    font-family: 'Stratum';
    src: url('../fonts/StratumGMCWebRegular.eot');
    src: url('../fonts/StratumGMCWebRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/StratumGMCWebRegular.woff') format('woff'), url('../fonts/StratumGMCWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Stratum';
    src: url('../fonts/StratumGMCWebBold.eot');
    src: url('../fonts/StratumGMCWebBold.eot?#iefix') format('embedded-opentype'), url('../fonts/StratumGMCWebBold.woff') format('woff'), url('../fonts/StratumGMCWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal
}
/*@font-face {
    font-family: 'Stratum';
    src: url('../fonts/StratumGMCWebMedium.eot');
    src: url('../fonts/StratumGMCWebMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/StratumGMCWebMedium.woff') format('woff'), url('../fonts/StratumGMCWeb-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal
}*/