.portfolio {
    .card {
        display: block;
        transition: max-height ease .5s, box-shadow .25s;
        max-height: 100vh;
        overflow: hidden;

        &.item-show {
        }
        &.item-hide {
            max-height: 0px;
            margin: 0;
        }
        .card-title {
            margin-bottom: 0;
            line-height: 1.2;
            font-size: 20px;
            color: initial;
            white-space: nowrap;
            position: relative;
            display: block;
            overflow: hidden;
            &:after {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                width: 40px;
                content: "";
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
            }
        }
        .material-icons {
            position: absolute;
            right: 20px;
            bottom: 20px;
            font-size: 20px;
            color: $black;
        }
    }
    a.card .card-title {
        margin-right: 20px;
    }
}