<div ng-controller="FooterCtrl">
    <div class="container center">
        <a ng-repeat="item in footer.networks" ng-href="{{item.href}}" target="_blank" class="social-links">
            <i class="white-text fa fa-3x" ng-class="item.icon"></i>
        </a>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © {{date | date:'yyyy'}} {{footer.copyright}}
            <span class="hide-on-small-only">
                This site was proudly build with 
                <a class="white-text" href='https://angularjs.org/'>Angular</a> and <a class="white-text" href='http://materializecss.com/'>Materialize</a>
            </span>
        </div>
    </div>
</div>