<div class="header" ng-controller="HeaderCtrl">
    <div class="relative">
        <div class="bg-backdrop"></div>
        <div class="overlay-primary"></div>
        <div class="container" in-view="stick($inview)">
            <div class="row no-margin">
                <div class="col offset-m4 offset-s3 s6 m4">
                    <a ng-href="{{header.image.href}}">
                        <img ng-src="{{header.image.url}}" class="z-depth-2 circle responsive-img bg-primary" ng-click="updateSelected(0)" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav ng-show="sticky"></nav>
    <nav ng-class="sticky ? 'sticky' : ''">
        <ul>
            <li ng-repeat="item in header.nav"><a href="{{item.href}}" ng-class="curPage === item.href ? 'active' : '' +' '+ item.class"><i class="material-icons left hide-on-small-only">{{item.icon}}</i><span class="">{{item.name}}</span></a></li>
        </ul>
    </nav>
</div>