<div class="container portfolio">
    <h5 class="section-title">
        <span>
            <i class="material-icons left">{{portfolio.icon}}</i>
            <span class="title-text">{{portfolio.header}}</span>
        </span>
    </h5>
    <slick slides-to-show="2" center-mode="true" settings="slickConfig">
        <div ng-repeat="item in portfolio.items" ng-if="(!item.hiddenSmall || windowWidth > 992)">
            <div ng-if="item.partial" class="card hoverable" style="margin: 10px;" ng-click="item.partial ? showContent($index) : return">
                <div class="card-image waves-effect waves-light full-width">
                    <img ng-src="{{item.graphic}}" alt="{{item.alt}}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{item.header}}</span>
                </div>
            </div>
            <div ng-if="item.href" class="card hoverable" style="margin: 10px;">
                <a ng-href="{{item.href}}" target="_blank">
                    <div class="card-image waves-effect waves-light full-width" ng-click="item.partial ? showContent($index) : return">
                        <img ng-src="{{item.graphic}}" alt="{{item.alt}}">
                    </div>
                    <div class="card-action">
                        <span class="card-title">{{item.header}}<i class="material-icons right">open_in_new</i></span>
                    </div>
                </a>
            </div>
        </div>
    </slick>
</div>
<div class="modal-container" ng-repeat="item in portfolio.items" ng-if="item.partial" ng-class="(selected === $index) ? 'modal-show' : 'modal-hide'">
    <div class="modal-custom">
        <div class="z-depth-4 modal-custom-content" ng-class="(selected === $index) ? 'modal-show' : 'modal-hide'" ng-click="$event.stopPropagation()">
            <i class="material-icons close-icon right" ng-click="hideContent()">close</i>
            <div ng-click="$event.stopPropagation()" ng-include="item.partial">{{item.partial}}</div>
        </div>
    </div>
</div>
<div class="overlay" ng-show="selected > -1"></div>