<div class="container portfolio">
    <div class="row">
        <div class="col s12">
            <h5 class="section-title">
                <span>
                    <i class="material-icons left">{{portfolio.bio.icon}}</i>
                    <span class="title-text">{{portfolio.bio.header}}</span>
                </span>
            </h5>
            <p class="flow-text center">{{portfolio.bio.content}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h5 class="section-title">
                <span>
                    <i class="material-icons left">{{portfolio.portfolio.icon}}</i>
                    <span class="title-text">{{portfolio.portfolio.header}}</span>
                </span>
            </h5>
        </div>
        
        <div ng-repeat="item in portfolio.portfolio.items" ng-if="(!item.hiddenSmall || windowWidth > 992)" class="wh-bounceInUp col m3 s12" >
            <!--modal portfolio item-->
            <div ng-if="item.partial" class="card hoverable clickable" ng-click="item.partial ? showContent($index) : return" ng-class="($index < visible) ? 'item-show' : 'item-hide'">
                <div class="card-image waves-effect waves-light full-width">
                    <img ng-src="{{item.graphic}}" alt="{{item.alt}}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{item.header}}</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title">
                        {{item.header}}
                    </span>
                    <div class="valign-wrapper">
                        <p class="valign">{{item.description}}</p>
                    </div>
                </div>
            </div>
            
            <!--external portfolio item-->
            <a ng-if="item.href" class="card hoverable" ng-href="{{item.href}}" target="_blank" ng-class="($index < visible) ? 'item-show' : 'item-hide'">
                <div class="card-image waves-effect waves-light full-width" ng-click="item.partial ? showContent($index) : return">
                    <img ng-src="{{item.graphic}}" alt="{{item.alt}}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{item.header}}</span>
                    <i class="material-icons">open_in_new</i>
                </div>
                <div class="card-reveal">
                    <span class="card-title">{{item.header}}<i class="material-icons right">open_in_new</i></span>
                    <div class="valign-wrapper">
                        <p class="valign">{{item.description}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="center-align">
        <span class="waves-effect waves-light btn" ng-click="showAll();" ng-class="(visible < portfolio.portfolio.items.length) ? '' : 'hide'" >{{portfolio.portfolio.moreButton}}<i class="material-icons right">expand_more</i></span>
    </div>

</div>
<div class="modal-container" ng-repeat="item in portfolio.portfolio.items" ng-if="item.partial" ng-class="(selected === $index) ? 'modal-show' : 'modal-hide'">
    <div class="modal-custom">
        <div class="z-depth-4 modal-custom-content" ng-class="(selected === $index) ? 'modal-show' : 'modal-hide'" ng-click="$event.stopPropagation()">
            <i class="material-icons close-icon right" ng-click="hideContent()">close</i>
            <div ng-click="$event.stopPropagation()" ng-include="item.partial">{{item.partial}}</div>
        </div>
    </div>
</div>
<div class="overlay" ng-show="selected > -1"></div>