<div class="container resume">
    <div class="row">
        <div class="col m8 s12">
            <h5 class="section-title">
                <span>
                    <i class="material-icons left">{{resume.experience.icon}}</i>
                    <span class="title-text">{{resume.experience.header}}</span>
                </span>
            </h5>
            <div class="card hoverable" ng-repeat="item in resume.experience.list">
                <div class="card-image waves-effect waves-light full-width">
                    <img class="activator" ng-src="{{item.graphic}}" alt="{{item.alt}}">
                </div>
                <div class="card-content">
                    <div class="row no-margin valign-wrapper">
                        <div class="col m3 hide-on-small-only">
                            <img ng-src="{{item.logo}}" alt="" class="center-block responsive-img circle">
                        </div>
                        <div class="col m9 s12 valign">
                            <div class="card-title activator">
                                {{item.employer}}
                                <i class="material-icons right">more_vert</i></span>
                                <small class="avoid-wrap thin">{{item.location}}</small>
                            </div>
                            <h6>{{item.title}}</h6>
                            <h6>{{item.startDate}} - {{item.endDate || "Present"}}</h6>
                        </div>
                    </div>
                </div>
                <div class="card-reveal flow-text">
                    <span class="card-title">
                        {{item.employer}}
                        <i class="material-icons right">close</i>
                    </span>
                    <div class="valign-wrapper">
                        <p class="valign">{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m4 s12">
            <h5 class="section-title">
                <span>
                    <i class="material-icons left">{{resume.skills.icon}}</i>
                    <span class="title-text">{{resume.skills.header}}</span>
                </span>
            </h5>
            <div class="card-panel skill" ng-repeat="item in resume.skills.list">
                <div class="row no-margin valign-wrapper">
                    <div class="col s2 m4">
                        <img ng-src="{{item.logo}}" alt="" class="img-thumb valign center-block responsive-img">
                    </div>
                    <div class="col s10 m8">
                        <h6 class="center">{{item.name}}</h6>
                        <div class="progress">
                            <div class="determinate" ng-style="{width: item.level+'%', height: '10px'}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large" target="_blank" ng-href="{{resume.download}}">
            <i class="large material-icons">file_download</i>
        </a>
    </div>
</div>