//@import "compass/css3";
//
//@import "compass";
//@import url("http://fonts.googleapis.com/css?family=Lato");
$background: #e74c3c;
$select-color: #000;
$option-color: #fff;
$option-background: url(/components/trailering-guide/img/select.jpg);
$select-width: 386px;
$select-height: 42px;
#traileringGuide {
    /*h1 {
    font-weight: normal;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    span { 
      font-size: 13px;
      display: block;
      padding-left: 4px;
    }
  }
  p {
    margin-top: 200px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      color: #fff;
      padding: 5px 10px;
      margin: 0 5px;
      //background-color: darken($select-background, 2);
      //@include transition(all 0.2s ease-in);
      //&:hover {
      //  background-color: darken($select-background, 5);
      //}
    }
  }*/
    .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
    }
    .select {
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
        position: relative;
        top: 18px;
        margin-top: -16px;
        font-size: 14px;
        color: $select-color;
        width: $select-width;
        height: $select-height;
    }
    .select-styled {
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(204, 204, 204, 1);
        /* Old Browsers */
        background: -moz-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(188, 188, 188, 1) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204, 204, 204, 1)), color-stop(100%, rgba(188, 188, 188, 1)));
        /* Chrome, Safari4+ */
        background: -webkit-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(188, 188, 188, 1) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(188, 188, 188, 1) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(188, 188, 188, 1) 100%);
        /* IE 10+ */
        background: linear-gradient(to bottom, rgba(204, 204, 204, 1) 0%, rgba(188, 188, 188, 1) 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#575757', GradientType=0);
        /* IE6-9 */
        padding: 12px 15px;
        html.ie9 & {
            filter: none;
        }
        &:after {
            content: url(/components/trailering-guide/img/chev.png);
            position: absolute;
            top: 15px;
            right: 15px;
        }
        &:active,
        &.active {
            &:after {
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Chrome, Safari, Opera */
                transform: rotate(90deg);
            }
        }
    }
    .select-options {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: .7;
        color: $option-color;
        background: rgba(153, 153, 153, 1);
        /* Old Browsers */
        background: -moz-linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(102, 102, 102, 1) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(153, 153, 153, 1)), color-stop(100%, rgba(102, 102, 102, 1)));
        /* Chrome, Safari4+ */
        background: -webkit-linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(102, 102, 102, 1) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(102, 102, 102, 1) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(102, 102, 102, 1) 100%);
        /* IE 10+ */
        background: linear-gradient(to bottom, rgba(153, 153, 153, 1) 0%, rgba(102, 102, 102, 1) 100%);
        /* W3C */
        
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#575757', GradientType=0);
        /* IE6-9 */
        li {
            margin: 0;
            padding: 12px 0;
            text-indent: 15px;
            //border-top: 1px solid darken($select-background, 10);
            //@include transition(all 0.15s ease-in);
            //&:hover {
            //  color: $option-color;
            //  background: $select-color;
            //}
            &[rel="hide"] {
                display: none;
            }
            &.hide {
                display: none;
            }
        }
    }
}