<html lang="en" ng-app="willHitchcock">

<head ng-controller="HeadCtrl">
    <meta ng-repeat="item in head.metas" name="{{item.name}}" http-equiv="{{item.httpEquiv}}" content="{{item.content}}" charset="{{item.charset}}">
    <link ng-repeat="item in head.links" rel="{{item.rel}}" ng-href="{{item.href}}">
    <title>Will Hitchcock</title>

    <meta property="og:title" content="Will Hitchcock" />
	<meta property="og:url" content="http://www.willhitchcock.me" />
	<meta property="og:image" content="http://www.willhitchcock.me/img/profile.png" />
    <meta property="og:description" content="Resume and portfolio site of Detroit area web developer Will Hitchcock" />
	<meta property="twitter:card" content="summary" />
	

    <link rel="stylesheet" href="css/style.css" />
</head>

<body class="{{noScroll}}">
    <header ng-include="'partials/header.html'"></header>
    
    <main enter-height id="page-content">
        <div class="page" ng-view></div>
    </main>
    
    <footer class="page-footer" ng-include="'partials/footer.html'"></footer>

    <script src='/js/libs.js'></script>
    <script src='/js/script.js'></script>
</body>

</html>
