<html lang="en" ng-app="williamJHitchcock">

<head ng-controller="HeadCtrl">
    <meta ng-repeat="item in head.metas" name="{{item.name}}" http-equiv="{{item.httpEquiv}}" content="{{item.content}}" charset="{{item.charset}}">
    <link ng-repeat="item in head.links" rel="{{item.rel}}" ng-href="{{item.href}}">
    <title>{{head.title}}</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body d>
    <header ng-include="'partials/header.html'"></header>
    
    <main ng-view></main>
    
    <footer class="page-footer" ng-include="'partials/footer.html'"></footer>

    <script src='/js/libs.js'></script>
    <script src='/js/script.js'></script>
</body>

</html>